.projects-container {
    margin: 4rem 0;
    position: relative;
}

.projects-container::after,
.projects-container::before {
    content: " ";
    width: 40rem;
    height: 40rem;
    border-radius: 28.125rem;
    background: #191970;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.projects-container::after {
    top: 0rem;
    left: -8rem;
}

.projects-container::before {
    background: #0F52BA;
    bottom: 0rem;
    right: 0rem;
}

.arrow-left,
.arrow-right {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color);
    border-radius: var(--border-radius);
    border: var(--border);
    background: #130f2a;
    position: absolute;
    top: 65%;
    z-index: 2;
    cursor: pointer;
}

.arrow-left span,
.arrow-right span {
    font-size: 2rem;
    font-weight: 500;
}

.arrow-left {
    left: 0rem;
}

.arrow-right {
    right: 0rem;
}

@media(max-width: 768px) {
    .arrow-left {
        left: -1rem;
    }

    .arrow-right {
        right: -1rem;
    }
}