.hero-container {
    display: flex;
    align-items: stretch;
    position: relative;
    margin-top: 4rem;
}

.hero-container::after,
.hero-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: var(--primary-color);
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-content > div {
    display: flex;
    gap: 1rem;
    margin-block: 2rem;
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    width: 80%;
    line-height: 2rem;
    margin-top: 1rem;
}

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img > div > img {
    width: 30rem;
    border-radius: var(--border-radius);
}

.contact-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--border-radius);
    border: 1.5px solid var(--secondary-color);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.25rem;
    margin: 0.25rem 0 0.5rem;
}

.contact-icon img {
    width: 3rem;
    height: auto;
}

@media (max-width: 1025px) {
    .hero-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img > div > img {
        width: 20rem;
    }

    .contact-icon {
        width: 4rem;
        height: 4rem;
    }

    .contact-icon img {
        width: 2.5rem;
    }
}

@media (max-width: 768px) {

    .hero-container {
        flex-direction: column;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-container h2 {
        margin-top: 3rem;
    }

    .hero-content h2,
    .hero-content p {
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before {
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .hero-container::after {
        top: 0rem;
        left: 0rem;
    }

    .hero-content::before {
        bottom: 2rem;
        right: 0rem;
    }

    
    .hero-content > div {
        justify-content: center;
    }
}

@media(max-width: 600px) {

    .hero-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .hero-content p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img {
        gap: 1rem;
    }

    .hero-img > div {
        gap: 1rem;
    }

    .hero-img > div > img {
        width: 16rem;
    }

    .contact-icon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .contact-icon img {
        width: 2rem;

    }
}