.project-card {
    background: #130f2a;
    border-radius: var(--border-radius);
    border: var(--border);
    margin: 0 1rem;
}

.project-content {
    padding: 1rem;
}

.project-title {
    border-bottom: var(--border);
    padding: 0.5rem 1rem;
    background: linear-gradient(90deg, var(--cta-color) 0%, var(--background-color) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title h3 {
    margin: 0;
    padding: 0.5rem 0;
}

.project-information {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.role-stack {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.role {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
}

.role h4 {
    margin-bottom: 1rem;
}

.stack-title h4 {
    margin-bottom: 1rem;
}

.role-stack ul {
    padding: 0;;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: none;
    list-style: none;
}

li.technology {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    border: 1.5px solid #3d3072;
    background: var(--icon-background);
    width: fit-content;
    height: 3rem;
    gap: 0.5rem;
    padding: 0.25rem;
}

li.technology .technology-icon {
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.1rem 0 0.1rem 0.5rem;
    }

.technology-icon img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

li.technology p {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    padding-right: 0.5rem;
    width: fit-content;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.links-container span {
    font-size: 1rem;
}

.project-link {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2rem;
}

.project-link h5 {
    width: 220px;
}

.project-link p {
    font-style: italic;
    font-size: 13px;
}

.project-description {
    margin: 1.5rem 0;
}

.project-screenshot {
    flex-basis: 50%;
    align-self: center;
}

.project-screenshot img {
    display: inline-block;
    width: 100%;
    border-radius: var(--border-radius);
    aspect-ratio: 4/3;
    object-fit: cover;
}

@media(max-width: 992px) {
    .project-information {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
    }

    .project-title {
        flex-direction: column;
        justify-content: center;;
        align-items: flex-start;
    }

    .links-container {
        flex-direction: row;
        align-items:flex-start;
        justify-content: center;
        gap: 2rem;
    }
}


@media(max-width: 768px) {
    .project-card {
        margin: 0;
    }

    .project-card ul li {
        font-size: 0.75rem;
    }

    .technology p {
        font-size: 0.75rem;
    }


}

