.skills-info-card {
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background: rgba(22,17,47,0.398);
    backdrop-filter: blur(1rem);
}

.skills-info-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #ac96ff 0%, #7c5fe6 100%);
    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #6751b9;
}

.skills-info-content {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skill-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
    border: 1.5px solid #3d3072;
    background: #FFFFFF66;
    width: 9rem;
    aspect-ratio: 1/1;
    gap: 0.5rem;
    padding: 1rem;
}

.skill-info .skills-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-icon img {
    width: 3rem;
    height: auto;
    object-fit: contain;
}

.skill-info p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 1025px) {
    .skills-info-card h6 {
        font-size: 1.1rem;
    }

    .skill-info p {
        font-size: 0.9rem;
    }

    .skills-info-content {
        padding: 1.5rem;
    }
}