.skills-info-card {
    min-height: 37.5rem;
    border-radius: var(--border-radius);
    border: var(--border);
    background: rgba(22,17,47,0.398);
    backdrop-filter: blur(1rem);
}

.skills-info-card h3 {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border-bottom: var(--border);
}

.skills-info-content {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
}

.skill-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    border: 1.5px solid #3d3072;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    width: 10rem;
    aspect-ratio: 1/1;
    gap: 0.5rem;
    padding: 1rem;
}

.skill-info .skills-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-icon img {
    width: 3rem;
    height: auto;
    object-fit: contain;
}

.skill-info p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 1025px) {
    .skills-info-card h6 {
        font-size: 1.1rem;
    }

    .skill-info p {
        font-size: 0.9rem;
    }

    .skills-info-content {
        padding: 1.5rem;
    }
}

@media(max-width:576px) {

    .skills-info-card {
        min-height: 27rem;
    }

    .skills-info-content {
        gap: 1rem;
    }

    .skill-info {
        width: 6rem;
    }

    .skill-info .skills-icon {
        width: 2rem;
        height: 2rem;
    }

    .skills-icon img {
        width: 2rem;
    }

    .skill-info p {
        font-size: 0.5rem;
        font-weight: 400;
    }
}

@media((min-width: 577px) and (max-width:768px)) {

    .skills-info-card {
        min-height: 27rem;
    }

    .skill-info {
        width: 8rem;
    }

    .skill-info .skills-icon {
        width: 3rem;
        height: 3rem;
    }

    .skill-info p {
        font-size: 0.75rem;
    }
}