.contact-form-content {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
}

.name-container {
    display: flex;
    align-items: center;
}

form input,
form textarea {
    flex: 1;
    width: 100%;
    font-size: 0.9rem;
    color: #FFFFFF;
    background: #130f2a;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;
}

form button {
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    border: var(--border-transparent);
    border-radius: var(--border-radius);
    background: var(--cta-color);
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover {
    color: var(--font-cta-hover-color);
    background: #FFFFFF;
    border: var(--border);
}

@media(max-width: 450px) {
    form input,
    form textarea {
        padding: 0.7rem;
        border-radius: var(--border-radius);
    }

    form button {
        font-size: 0.9rem;
        padding: 0.7rem;
        border-radius: var(--border-radius);
    }
}