@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #2175D0;
  --secondary-color: #010e29;
  --accent-color: #F2C94C;
  --secondary-color-faded: #010e2922;
  --primary-font-color: #ffffff;
  --secondary-font-color: #FFFFFF;
  --title-font: "Lexend", sans-serif;
  --body-font: "Poppins", sans-serif;
  --body-font-color: #000000;

  /* Borders */
  --border-radius: 4px;
  --border: 1.5px solid #6751b9;
}

*, *::before, *::after {
  font-family: var(--body-font);
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--secondary-font-color);
  background-color: var(--secondary-color);
}

.logo, h1, h2, h3, h4, h5, h6, .contact-btn {
  font-family: var(--title-font);
}

.logo {

}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
  padding-block: 1rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 34px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

h4 {
  font-size: 22px;
  margin-bottom: 0.75rem;
  font-weight: 500px;
}

h5 {
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-weight: 500px;
}

p {
  font-size: 16px;
}

a:link, a:visited, a:hover, a:active {
  font-size: 1rem;
  /* 20px for Tablet +, 16px for mobile */
  color: #FFFFFF;
  text-decoration: none;
}

section {
  padding-top: 80px;
  margin-top: -80px;
  margin-bottom: 4rem;
}