@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --primary-color: #2175D0;
  --secondary-color: #010e29;
  --accent-color: #F2C94C;
  --secondary-color-faded: #010e2922;
  --primary-font-color: #ffffff;
  --secondary-font-color: #FFFFFF;
  --title-font: "Lexend", sans-serif;
  --body-font: "Poppins", sans-serif;
  --body-font-color: #000000;
}

*, *::before, *::after {
  font-family: var(--body-font);
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary-font-color);
  background-color: var(--secondary-color);
}

.logo, h1, h2, h3, h4, h5, h6, .contact-btn {
  font-family: var(--title-font);
}